<!-- templates/fragments/footer.html -->
<div xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
    <footer class="site-footer">
        <div class="footer-inner">
            <nav class="footer-links" aria-label="Footer links">

                <a th:href="@{/contact}">Contact</a>

                <a href="https://www.instagram.com/tirsan__sapkota07/"
                   target="_blank" rel="noopener noreferrer">
                    Instagram
                </a>

                <a href="https://github.com/tsapkota07"
                   target="_blank" rel="noopener noreferrer">
                    GitHub
                </a>

                <a href="https://www.linkedin.com/in/tirsan-sapkota/"
                   target="_blank" rel="noopener noreferrer">
                    LinkedIn
                </a>
            </nav>
        </div>
    </footer>
</div>
